.tiles {
    display: flex;
    flex-direction: row;

    /* padding: 1.5rem; */
}

.tile {
    border: 1px solid black;
    
    width: 5rem;
    height: 10rem;

    margin: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
}

.tile_open {
    background-color: lightgreen;
}

.tile_closed {
    background-color: lightpink;
}

.tile_value {
    font-size: 2rem;
}