.container {
  display: flex;
  flex-direction: row;
}

.list {
  list-style: none;
  border-right: 2px solid darkslategray;

  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  padding-left: 1rem;
  padding-right: 1rem;

  flex-basis: 20%;
}
